$white: #fff;
$black: #000;
$red: #ff1300;
$orange: #ff9500;
$green: #4cd964;
$blue: #007aff;
$teal: #34aadc;
$pink: #ff4981;
$gray-dark: #292b2c;
$gray: #8e8e93;
$gray-light: #bdbec2;
$gray-lighter: #c7c7cc;
$gray-lightest: #f7f7f7;
$shadow: rgba(0, 0, 0, .85);
$odd: rgba(0, 0, 0, 0.05);

$size: .75rem; /* 12px */
$size-sm: $size / 2;
$size-xs: $size / 3;
$size-lg: $size * 2;
$size-xl: $size * 3;
$size-xxl: $size * 4;
$font-size: $size / 6 * 7; /* 14px */

$border: 1px solid $gray-lightest;

$a-tags: 'a, a:active, a:hover, a:visited, a:focus';
$button-tags: '.btn-secondary, .btn-secondary:hover, .btn-secondary:active, .btn-secondary:focus, .btn-secondary:active:focus';
$button-primary-tags: '.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-primary:active:focus';
$button-outline-primary-tags: '.btn-outline-primary, .btn-outline-primary:hover, .btn-outline-primary:active, .btn-outline-primary:focus, .btn-outline-primary:active:focus';
$button-outline-secondary-tags: '.btn-outline-secondary, .btn-outline-secondary:hover, .btn-outline-secondary:active, .btn-outline-secondary:focus, .btn-outline-secondary:active:focus';
$button-outline-success-tags: '.btn-outline-success, .btn-outline-success:hover, .btn-outline-success:active, .btn-outline-success:focus, .btn-outline-success:active:focus';
$button-outline-warning-tags: '.btn-outline-warning, .btn-outline-warning:hover, .btn-outline-warning:active, .btn-outline-warning:focus, .btn-outline-warning:active:focus';
$button-outline-danger-tags: '.btn-outline-danger, .btn-outline-danger:hover, .btn-outline-danger:active, .btn-outline-danger:focus, .btn-outline-danger:active:focus';
$button-outline-tags: '.btn-outline-primary, .btn-outline-secondary, .btn-outline-success, .btn-outline-warning, .btn-outline-danger';
$col-tags: '.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9';