{
  "presets": [ "es2015", "es2017", "react" ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-object-rest-spread",
    ["root-import", { "rootPathSuffix": "src/js" }]
  ],
  "ignore": "node_modules"
}