@import "variables";

$bg-color: #ececec;
$bg-image: -webkit-linear-gradient(top, #fafafa 0px, #f6f6f6 2px, #f6f6f6 100%);
$header-bg-image: -webkit-linear-gradient(top, #ededed 0px, #ededed 1px, #e7e7e7 2px, #d1d1d1 100%);
$border-color: #b5b5b5;
$border: 1px solid $border-color;

.navbar {
  background-image: $header-bg-image;
  box-shadow: 0 0 5px rgba(0, 0, 0, .85);
  .navbar-brand {
    color: $black !important;
    font-weight: bold;
    text-shadow: 0 1px 0 $white;
  }
}

.nav-tabs {
  .nav-item {
    .nav-link {
      color: $black;
      border-color: $border-color;
      background-color: #eaeaea;
      background-image: -webkit-linear-gradient(top, #dcdcdc, #eaeaea);
      &:hover {
        color: $black;
        border-color: $border-color;
        background-color: #eaeaea;
        background-image: -webkit-linear-gradient(top, #dcdcdc, #eaeaea);
      }
      &.active {
       border-bottom-color: #eaeaea;
       background-image: -webkit-linear-gradient(top, $white, #eaeaea);
       font-weight: bold;
      }
    }
  }
}

.panel {
  background-color: $white;
  border: $border;
}

.form-control:focus {
  border-color: #a1a1a1;
}

.btn {
  color: $black;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 1px;
}

#{$button-tags} {
  color: $black;
  border-color: #bbbbbb;
  background-color: #f3f3f3;
  background-image: -webkit-linear-gradient(top, #fbfbfb, #e9e9e9);
}

#{$button-primary-tags} {
  color: $black;
  border-color: #9d9d9d;
  background-color: #f3f3f3;
  background-image: -webkit-linear-gradient(top, #fbfbfb, #e9e9e9);
  font-weight: bold;
}

#{$button-link-tags} {
  color: $black;
  border-color: #c8c8c8 #c2c2c2 #acacac;
  background-color: $white;
  text-decoration: none;
  &.active {
    background-color: $white !important;
  }
}

#{$a-tags} {
  color: $black;
}

::-webkit-scrollbar {
  width: $size * 2 / 3;
  height: $size * 2 / 3;
}
::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.05);
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  &:hover {
    background: rgba(0, 0, 0, 0.4);
  }
}

.dialog {
  background-color: $bg-color;
  border-radius: $size-xs;
  box-shadow: rgba(0, 0, 0, 0.31) 0px 0px 1px, rgba(0, 0, 0, 0.18) 0px 0px 5px, rgba(0, 0, 0, 0.3) 0px 8px 50px;
  .dialog-header {
    min-height: $size-lg;
    background-image: $header-bg-image;
    border-bottom: 1px solid #afafaf;
    border-top: 1px solid #f6f6f6;
    border-top-left-radius: $size-xs;
    border-top-right-radius: $size-xs;
    padding: 0 $size-xs;
    .dialog-title {
      font-weight: bold;
    }
    .tool {
      position: absolute;
      top: $size-xs;
      right: $size-xs;
      width: $size;
      height: $size;
      font-size: $size;
      line-height: 0;
      background-color: $red;
      border: 1px solid #e2463f;
      border-radius: 50%;
      cursor: pointer;
    }
  }
  .dialog-body {
    padding: $size-xs;
  }
}
