/***** SIZE *****/
$size: .75rem; /* 12px */
$size-sm: $size / 2;
$size-xs: $size / 3;
$size-lg: $size * 2;
$size-xl: $size * 3;
$size-xxl: $size * 4;

/***** COLOR *****/
$white: #fff;
$snow: #f9f9f9;
$white-smoke: #f8f8f8;
$smoke: #f0f0f0;
$whisper: #eee;
$solitude: #e3e4e6;
$mercury: #e2e2e2;
$silver: #c5c5c5;
$gray: #ccc;
$nobel: #9d9d9d;
$arsenic: #32404e;
$night: #333;
$black: #000;
$red: #e91e63;
$blue: #458fd2;
$polka-blue: #b0ccf2;
$pattens-blue: #d9edff;
$alice-blue: #e4f3ff;
$green: #4caf50;

$summer-sky: #3097d1;
$shadow: rgba(0, 0, 0, .85);
$light-shadow: rgba(255, 255, 255, .5);

$border: 1px solid $silver;

/***** GROUP TAG *****/
$a-tags: 'a, a:active, a:hover, a:visited, a:focus';
$col-tags: '.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9';
$button-secondary-tags: '.btn-secondary, .btn-secondary:hover, .btn-secondary:active, .btn-secondary:focus, .btn-secondary:active:focus';
$button-primary-tags: '.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-primary:active:focus';
